<nav class="main-header">
    <div class="container">
        <div class="main-header__content">
            <div class="main-header__langs">
                <a href="/en" class="main-header__lang">EN</a>
                <a href="/pt" class="main-header__lang">PT</a>
            </div>
            <button class="main-header__toggler" data-toggle="mobile-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>