<nav class="main-header">
    <div class="container">
        <div class="main-header__content">
            <div class="main-header__langs">
                <a href="/en" class="main-header__lang">EN</a>
                <a href="/pt" class="main-header__lang">PT</a>
            </div>
            <button class="main-header__toggler" data-toggle="mobile-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>

<nav id="mobile-nav" class="mobile-nav" aria-hidden="true">
    <div class="container">
        <div class="mobile-nav__content">
            <button class="mobile-nav__close" data-toggle="mobile-nav"></button>

            <ul class="mobile-nav__list">
                <li class="mobile-nav__item">
                    <a href="#home">Quem somos</a>
                </li>

                <li class="mobile-nav__item">
                    <a href="#contact">Trabalhe Conosco</a>
                </li>

                <li class="mobile-nav__item">
                    <a href="#imprensa">Imprensa</a>
                </li>
            </ul>
        </div>
    </div>
</nav>