.btn{
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    @include transition();
}

.btn-green{
    background-color: $color-green-light;
    color: #fff;

    &:hover{
        @include scale(1.02);
        background-color: darken($color-green-light, 10);
    }
}