.form-control {
    width: 100%;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 3px;
    border: none;
    color: $color-navy;
    border: 1px solid $color-navy;
    @include transition();

    &::placeholder {
        color: rgba(88, 88, 88, 0.76);
    }

    &:focus,
    &:active {
        outline: none;
        border-color: $color-secondary;
        box-shadow: none;
    }
}

textarea.form-control {
    height: auto;
}

.form-group {
    label.error {
        display: block;
        color: rgb(240, 80, 69);
        opacity: .8;
        font-size: 13px;
        font-weight: 300;
        padding-top: 5px;
        padding-left: 4px;
    }

    label {
        font-weight: 400;
        font-size: 18px;
        color: $color-navy;

        span {
            font-weight: 300;
        }

        @media screen and (max-width: $bp-MD) {
            color: #fff;
            font-size: 16px;
        }
    }
}

.input-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;

    &__btn {
        display: flex;
        align-items: center;

        .ico{
            width: 30px;
            margin-right: 12px;
        }
    }

    input[type=file] {
        position: absolute;
        left: -100px;
        top: 0;
        opacity: 0;
    }

}